<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.codesign">

    <uses-sdk tools:overrideLibrary="android.support.fragment" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".NewProjectActivity"></activity>
        <activity android:name=".InvitationsActivity"></activity>
        <activity android:name=".Projecte.ProjectActivity"></activity>
        <activity android:name=".Projecte.CanvasActivity"></activity>
        <activity android:name=".ParticipantsActivity"></activity>
        <activity android:name=".Projecte.NewNoteActivity"></activity>
    </application>

</manifest>